pkgbase = displayctl
	pkgdesc = Manage displays.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/displayctl
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = android-display-utils
	depends = tsu
	source = displayctl-5b2a7fd47655db2bf11632da3fda8ed8a1a37a21.zip::https://github.com/themartiancompany/displayctl/archive/5b2a7fd47655db2bf11632da3fda8ed8a1a37a21.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = e662df93365728dcdf52d4c304b07b000349a3710725908a502195ba7da11cfb

pkgname = displayctl
